nav {
    font-family: 'Russo One', sans-serif;
}

* {
    box-sizing: border-box;
}

.navbar {
    padding-left: 0;
    padding-right: 0px;
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 4000px;
    background: black;
    border-right: 8px solid rgba(255, 255, 255, 0.2);
    color: white;
    z-index: 10;
}

.block-img {
    display: block;
    padding-top: 50px;
    padding-bottom: 40px;
}


.img-profile {
        border-radius: 50%; 
        width: 200px;
        height: 200px;
        border: 8px solid rgba(255, 255, 255, 0.2);
}

.div-nav {
    font-size: 20px;

}

.ul-nav {
   display: block;
}

.li-nav {
    list-style:none;
    padding: 20px;
}

.a-nav {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.005rem;
    opacity: 0.5;
    
}

.a-nav:hover, .a-nav:focus {
    color: #fff;
    opacity: 1;
}

.position {
    position: relative;
    right: 25px;
}

.position-intereses {
    position: relative;
    right: 20px;
}


.position-experiencia, .position-habilidades {
    position: relative;
    right: 6px;
}

.contenido {
    margin-left: 264px;
    font-family: 'Lalezar', cursive;
}

.nombre {
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    font-size: 6rem;
    line-height: 1;
}

.github {
    color: #000;
    margin: 10px;
}

.github:hover {
    color:  #3642a5 
}


.contenido-about {
    margin: 270px 80px;
    margin-right: 70px;
}

.descripcion {
    font-size: 1.50rem;
    padding-bottom: 50px;
}

.hr-about {
    position: relative;
    top: 20px;
    left: 8px;
}

.contenido-experiencia {
    margin: 50px 80px;
    margin-right: 70px;
}

.experiencia {
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    font-size: 6rem;
    line-height: 1;
}