nav {
    font-family: 'Russo One', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    text-transform: uppercase;
}


.navbar {
    padding-left: 0;
    padding-right: 0px;
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 4000px;
    background: black;
    border-right: 8px solid rgba(255, 255, 255, 0.2);
    color: white;
    z-index: 10;
}

.block-img {
    display: block;
    padding-top: 50px;
    padding-bottom: 40px;
}


.img-profile {
        border-radius: 50%; 
        width: 200px;
        height: 200px;
        border: 8px solid rgba(255, 255, 255, 0.2);
}

.div-nav {
    font-size: 20px;

}

.ul-nav {
   display: block;
}

.li-nav {
    list-style:none;
    padding: 20px;
}

.a-nav {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.005rem;
    opacity: 0.5;
    
}

.a-nav:hover, .a-nav:focus {
    color: #fff;
    opacity: 1;
}

.position {
    position: relative;
    right: 25px;
}

.position-educacion {
    position: relative;
    right: 20px;
}

.position-intereses {
    position: relative;
    right: 20px;
}


.position-experiencia, .position-habilidades {
    position: relative;
    right: 8px;
}

.contenido {
    margin-left: 264px;
    font-family: 'Lalezar', cursive;
}

.nombre {
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    font-size: 6rem;
    
}

.github {
    color: #000;
    margin: 10px;
}

.github:hover {
    color:  #3642a5 
}

.about {
    position: relative;
    bottom: 100px;
}

.contenido-sobremi {
    position: relative;
    top: 15em
}
.contenido-about {
    margin-top: 0px;
    margin-left: 80px;
    margin-right: 70px;
}

.descripcion {
    padding-bottom: 50px;
    color: #6c757d;
    font-size: 25px;
}

.hr-about {
    position: relative;
    top: 20px;
    left: 8px;
}

.contenido-educacion {
    position: relative;
    top: 25em;
    margin: 50px 80px;
    margin-right: 70px;
}

.educacion {
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    font-size: 6rem;

}

h6 {
   font-size: 40px;

}

.descripcion-educacion {
    color: #6c757d;
    font-size: 25px;
    position: relative;
    bottom: 74px;
}

.promedio-educacion {
    color: #6c757d;
    font-size: 17px;
    position: relative;
    bottom: 100px;
}

.gpa {
    bottom: 120px;
}

.fechas {
    position: absolute;
    left: 50em;
    bottom: 270px;
    font-size: 20px;
}

.fechas-experiencia {
    position: absolute;
    left: 50em;
    bottom: 160px;
    font-size: 20px;
}

.fechas-web {
    position: absolute;
    left: 50em;
    bottom: 490px;
    font-size: 20px;
}

.contenido-experiencia {
    position: relative;
    top: 40em;
    margin: 50px 80px;
    margin-right: 70px;
}

.experiencia {
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    font-size: 6rem;

}

.descripcion-experiencia {
    color: #6c757d;
    font-size: 25px;
    position: relative;
    bottom: 74px;
    margin-right: 22em;
    
}

.contenido-habilidades {
    position: relative;
    top: 50em;
    margin: 50px 80px;
    margin-right: 70px;

}

.habilidades {
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    font-size: 6rem;

}

.descripcion-habilidades {
    color: #6c757d;
    font-size: 25px;
    position: relative;
    bottom: 74px;
    margin-right: 22em;
    
}


.contenido-contacto {
    position: relative;
    top: 80em;
    margin: 50px 80px;
    margin-right: 70px;
    height: 930px;
    

}


.contacto {
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Lalezar', cursive;
    font-size: 6rem;

}

.descripcion-contacto {
    color: #6c757d;
    font-size: 23px;
    position: relative;
    top: 60px;
    left: 50px;
    background-color: red;
    margin-right: 50em;
    margin-top: 0px;

    
    
}

.iconos {
    color: #6c757d;
    text-decoration: none;

}

.iconos-inicio {
    color: #000;
    text-decoration: none;

}

.iconos-inicio:hover {
    color:  #6c757d;
    text-decoration: none;

}

.iconos:hover {
    color: #000;
    text-decoration: none;

}


.contacto-final {
    text-decoration: none;
    font-size: 40px;
    color: #000;
    

}

.contacto-final:hover {
    text-decoration: none;
    font-size: 40px;
    color: #6c757d;
    

}

.separacion-contacto {
     margin-bottom: 30px;

}

.iconos-contacto {
    color: #000;
    text-decoration: none;
    margin-right: 10px;
  
 
}

.iconos-contacto:hover {
    color: #6c757d;
    text-decoration: none;
    margin-right: 10px;
}

.universidad {
    color: #6c757d;
}

.universidad:hover {
    color: #000;
}